body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/303/604/original/a-dog-park-scene-vector.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  background-color: #FBEEC1;
  padding: 20px;
  text-align: center;
  font-family: 'Pangolin';
}

.transparent-header {
  background-color: rgba(255, 255, 255, 0.7);;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Pangolin';
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FBEEC1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Pangolin';
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: #FBEEC1;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: font-size 0.2s ease-in-out;
  font-family: 'Pangolin';
}

button:hover {
  font-size: 17px;
  font-family: 'Pangolin';
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS for result.html*/
#park-card {
  list-style:none;
  padding: 0;
  margin: 0;
}

#park-card li {
  background-color: #daad86;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border: 5px, #bc986a;
}
.map {
  height: 400px;
  width: 100%;
}

#banner-section {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkfLGVYh8bQZ8rqv_bhJT5ymiCOugz1Javbg&usqp=CAU);
  background-size: contain;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
}

.banner-box {
  position: relative;
  z-index: 1;
  flex-basis: calc(25% - 20px);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 20px;
  margin-bottom: 20px; 
}

.banner-box:nth-child(4n) {
  margin-right: 0; 
}

.banner-box:hover {
  transform: scale(0.95); 
}

.banner-image {
  max-width: 80%; 
}

.banner-box h3 {
  margin-top: 10px;
  font-family: 'Pangolin', cursive;
  font-size: 16px; 
  color: #333;
}